{% extends 'base.html.twig' %}

{% block title %}Formularz edycji kategorii dla gier{% endblock %}

{% block body %}
    <h3>Form Game Category - edit</h3>
    {{ include('category/_form.html.twig') }}
{% endblock %}