{% extends 'base.html.twig' %}

{% block title %}Formularz dodawania nowej kategorii dla gier{% endblock %}

{% block body %}
    <h3>Form Game Category - new</h3>
    {{ include('category/_form.html.twig') }}
{% endblock %}