{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <img src="{{ asset('img/about.png') }}" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum nesciunt vel culpa laborum porro voluptatibus quidem minus aut animi magni, tenetur sunt pariatur, earum accusantium amet! Consequatur eius amet error?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ex est voluptate laudantium, porro vero deleniti! Animi consectetur ipsum, qui quibusdam expedita quo impedit, repellendus cum soluta odit adipisci fugiat!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore commodi accusantium culpa, sit ipsam vitae velit, tenetur cumque expedita nesciunt, nisi earum doloremque tempora voluptas reiciendis iusto alias nulla perspiciatis?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae amet vitae odio sit eius eligendi nobis veritatis libero eaque fuga adipisci optio in, facilis placeat voluptatem obcaecati ducimus voluptatibus numquam.</p>
{% endblock %}