{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <h1>Hello {{ firstName|capitalize }}</h1>

    <h2>Favorite game!</h2>
    <div class="games">
        <ul>
            {% for game in favoriteGames %}
                <li>{{ game }}</li> 
            {% endfor %}
        </ul>
    </div>
{% endblock %}