{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <h1>Hello {{ firstName|capitalize }}</h1>

    {% if favoriteGames %}
        <h2>Your favorite game!</h2>
        <div class="games">
            <ul>
                {% for game in favoriteGames %}
                    <li>{{ game }}</li> 
                {% endfor %}
            </ul>
        </div>
    {% else %}
        {{ include('no_result.html.twig') }}
    {% endif %}
{% endblock %}