{% extends 'base.html.twig' %}

{% block title %}The best games{% endblock %}

{% block body %}
    <h1>{{ 'The best games:'|upper }}</h1>

    {% if games %}
        <div class="games">
            <ul>
                {% for game in games %}
                    <li>{{ loop.index }}. {{ game }}</li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        {{ include('no_result.html.twig') }}
    {% endif %}
{% endblock %}