{% extends 'base.html.twig' %}

{% block title %}Top game{% endblock %}

{% block body %}
    <h1>{{ 'Top game'|upper }}</h1>

    <h2>Your favorite game is {{ favoriteGames|first }}</h2>
{% endblock %}