{% extends 'base.html.twig' %}

{% block title %}Edit game{% endblock %}

{% block body %}
    <div class="container">
        <h3>Formularz edycji gry</h3>
        {% include 'game/_form.html.twig' %}
    </div>
{% endblock %}
