{% extends 'base.html.twig' %}

{% block title %}Formularz dodawania nowej kategorii dla postów{% endblock %}

{% block body %}
    <h3>Form Post Category - new</h3>
    {{ include('category_post/_form.html.twig') }}
{% endblock %}