{% extends 'base.html.twig' %}

{% block title %}Category Post!{% endblock %}

{% block body %}
    <h1>Category</h1>

    <a href="{{ path('app_category_post') }}" class="btn btn-sm btn-primary">Powrót do listy</a>

    <div class="category-post mt-3">
        Nazwa kategorii: {{ category.name }}
    </div>
{% endblock %}